@model kayit
@{
    ViewData["Title"] = "Kayit formu";
}
@if(ViewBag.OK!=null){
    <div> @ViewBag.OK</div>
}else{
    <form method="post">
    <div asp-validation-summary="All"></div>
    <div class="row mb-3">
       <div class="col-3">
           <label for="" class="control-label" asp-for="Ad"></label>
       </div> 
       <div class="col-9">
           <input class="form-control" asp-for="Ad">
           <span class="text-danger" asp-validation-for="Ad"></span>
       </div>
    </div>

    <div class="row mb-3">
       <div class="col-3">
           <label for="" class="control-label" asp-for="Soyad"></label>
       </div> 
       <div class="col-9">
           <input class="form-control" asp-for="Soyad">
           <span class="text-danger" asp-validation-for="Soyad"></span>
           
       </div>
    </div>

    <div class="row mb-3">
       <div class="col-3">
           <label for="" class="control-label" asp-for="Email"></label>
       </div> 
       <div class="col-9">
           <input class="form-control" asp-for="Email">
           <span class="text-danger" asp-validation-for="Email"></span>
       </div>
    </div>

    <div class="row mb-3">
       <div class="col-3">
           <label for="" class="control-label" asp-for="Sifre"></label>
       </div> 
       <div class="col-9">
           <input class="form-control" asp-for="Sifre">
           <span class="text-danger" asp-validation-for="Sifre"></span>
       </div>
    </div>

    <div class="row mb-3">
       <div class="col-3">
           <label for="" class="control-label" asp-for="SifreTekrari"></label>
       </div> 
       <div class="col-9">
           <input class="form-control" asp-for="SifreTekrari">
           <span class="text-danger" asp-validation-for="SifreTekrari"></span>
       </div>
    </div>
  <div>
  <button type="submit" class="btn btn-success">Gönder</button>
  <button type="reset" class="btn btn-danger">Temizle</button>
  </div>
  
</form>
}
@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}